.clients__container {
  justify-content: space-evenly;
  gap: 30px;
  display: flex;
}

.clients__icon {
  border: 1px solid;
  border-color: #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  fill: #afb1b8;
  cursor: pointer;
  transition-property: fill, border-color;
}

.clients__icon:focus,
.clients__icon:hover {
  fill: var(--highlight-color);
  border-color: var(--highlight-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}